body{
    background-color: lightblue;
}
h3{
    color: green;
}
pre{
    color:brown;
    background-color: lightgrey ;
}
textarea{
    background-color: lightgrey;
    color:rgb(0, 0, 4) ;}

select{
    background-color: rgb(61, 61, 50);
    color:rgb(224, 224, 242) ;
}
input{
    background-color: rgb(164, 153, 153);
    color:rgb(1, 1, 13) ;
}   
h1{
    text-align: center;
    text-transform:capitalize;
}
