/* #container {
    background-color:black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin:0;
    margin-top:-8px;
    margin-left: -8px;
    gap: 50px;
    width:100%;
}

.logo {
    background-image:url("logo.jpg") ;
    width: 102px;
    height:36px;
    background-size: cover;
    margin-left:18px;
    margin-top:11px;
}
.tuk{
    display: inline;
}
    */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #131921;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 15px;
    gap: 18px;
}

/* Logo */
.nav-logo img {
    width: 120px;
}

/* Address */
.nav-address {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.small {
    font-size: 12px;
    color: #ccc;
}

.bold {
    font-size: 14px;
    font-weight: bold;
}

/* Search */
.nav-search {
    display: flex;
    flex: 1;
    height: 40px;
}

.nav-search select {
    width: 55px;
    border: none;
}

.nav-search input {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 15px;
}

.nav-search button {
    width: 45px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* Right items */
.nav-lang,
.nav-account,
.nav-orders,
.nav-cart {
    cursor: pointer;
    white-space: nowrap;
}
body{
    background-image: url("work.avif");
    background-size: auto;
}
