#one{
    background-color:rgba(255,0,0,0.5) ;
    display:inline;
}
#two{
    background-color:rgba(255,0,0,1.0);
    display:inline-block;
    
}
#three{
    background-color:rgba(255,0,0,0.5);
    display:none;
}
div{
    height:100px;
    width:100px;
    margin: 25px;
    padding: 25px;
   
} 
/* inline display use krtein hai to margin aur padding work  nahi krtein isiliye hm inline-block use krtein hain */
/* none display use krtein hai to element ko hide kr deta hai with no space reserved*/
/* rgba , a belongs to opaciy varies from 0-1 */